@model List<Work>
<section id="section6">
	<div class="container"> </div>
	<h2>Projelerim ve çalışmalarım</h2>
	<div class="portfolio-wrapper">
		<div id="portfolio-filters" class="portfolio-filters">
			<button class="button solid-button white-purple small" data-filter="*">HEPSINI GOSTER</button>
			<button class="button solid-button white-purple small" data-filter=".mobil">MOBIL</button>
			<button class="button solid-button white-purple small" data-filter=".web">WEB UYGULAMASI</button>
			<button class="button solid-button white-purple small" data-filter=".veri">VERI ANALIZI</button>
			<button class="button solid-button white-purple small" data-filter=".tasarim">TASARIMLARIM</button>
		</div>
		<div id="portfolio" class="portfolio">
			<div class="item mobil">
				<img src="/picture/mobile-dev.jpg" alt="alt text" class="img-responsive">
				<a href="single-portfolio.html" class="overlay">
					<div class="background"></div>
					<div class="meta">
						<span class="title">Mobil Uygulama</span>
						<span class="category">Mobil</span>
					</div> <!-- end .meta -->
				</a> <!-- end .overlay -->
			</div> <!-- end .item -->
			<div class="item veri">
				<img src="/picture/data.jpg" alt="alt text" class="img-responsive">
				<a href="single-portfolio.html" class="overlay">
					<div class="background"></div>
					<div class="meta">
						<span class="title">Veri Analizi</span>
						<span class="category">Veri Analizi</span>
					</div> <!-- end .meta -->
				</a> <!-- end .overlay -->
			</div> <!-- end .item -->
			<div class="item web">
				<img src="/picture/web_Dev.jpg" alt="alt text" class="img-responsive">
				<a href="single-portfolio.html" class="overlay">
					<div class="background"></div>
					<div class="meta">
						<span class="title">Web Uygulaması</span>
						<span class="category">Web Uygulaması</span>
					</div> <!-- end .meta -->
				</a> <!-- end .overlay -->
			</div> <!-- end .item -->
			<div class="item web mobil tasarim">
				<img src="/picture/design.png" alt="alt text" class="img-responsive">
				<a href="single-portfolio.html" class="overlay">
					<div class="background"></div>
					<div class="meta">
						<span class="title">Tasarım</span>
						<span class="category">Tasarım</span>
					</div> <!-- end .meta -->
				</a> <!-- end .overlay -->
			</div> <!-- end .item -->

		</div> <!-- end .portfolio-wrapper -->
	</div> <!-- end .container -->
</section>

